@-webkit-keyframes animate-out-top-bar {
  0% {
    background-color: #29363B;
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #29363B;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #000;
  }
}
@keyframes animate-out-top-bar {
  0% {
    background-color: #29363B;
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #29363B;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #000;
  }
}
@-webkit-keyframes animate-out-bottom-bar {
  0% {
    background-color: #29363B;
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #29363B;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #000;
  }
}
@keyframes animate-out-bottom-bar {
  0% {
    background-color: #29363B;
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #29363B;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #000;
  }
}
@-webkit-keyframes animate-out-middle-bar {
  0% {
    background-color: #29363B;
  }
  80% {
    background-color: #29363B;
  }
  100% {
    background-color: #000;
  }
}
@keyframes animate-out-middle-bar {
  0% {
    background-color: #29363B;
  }
  80% {
    background-color: #29363B;
  }
  100% {
    background-color: #000;
  }
}
#fashion .navbar .logo {
  background-color: #fff;
}
#fashion .navbar .logo .logotext {
  color: #000;
}
#fashion .navbar .right-block .open-overlay span {
  background-color: #000;
}
#fashion .bg-grey {
  background-color: #2B2B2B;
  padding: 0 400px;
  position: relative;
}
#fashion .bg-grey .g-left {
  position: relative;
}
#fashion .bg-grey .g-left img {
  margin-top: 150px;
  position: absolute;
  width: 460px;
  height: 630px;
  border: 5px solid #CFCFCF;
  cursor: pointer;
  -webkit-transition: opacity ease-in-out 0.5s;
  transition: opacity ease-in-out 0.5s;
}
#fashion .bg-grey .g-left img:last-child {
  opacity: 0;
}
#fashion .bg-grey .g-left:hover img {
  border: none;
}
#fashion .bg-grey .g-left:hover img:last-child {
  opacity: 100%;
}
#fashion .bg-grey .g-right {
  position: relative;
  background-color: #9A6DFF;
  min-width: 500px;
  min-height: 900px;
  margin-left: 460px;
}
#fashion .bg-grey .g-right a {
  position: absolute;
  top: 57%;
  left: 72%;
  font-size: 20px;
  font-family: "Antonio", sans-serif;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3px;
}
#fashion .bg-grey .floating {
  position: absolute;
  top: 40%;
  left: 38.6%;
}
#fashion .bg-grey .floating .first,
#fashion .bg-grey .floating .second {
  font-size: 45px;
  font-family: "Poiret One", sans-serif;
  letter-spacing: 10px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 25px 10px;
}
#fashion .bg-grey .floating .first {
  padding-right: 10px;
  background-color: #fff;
  color: #000;
}
#fashion .bg-grey .floating .second {
  padding-left: 20px;
  padding-right: 50px;
  background-color: #000;
  color: #fff;
}
#fashion .bg-img {
  background-image: url("../img/fashion/bg-fashion.png");
}
#fashion .bg-img .info {
  padding: 100px 0 150px 0;
}
#fashion .bg-img .info h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-family: "Didot Regular", sans-serif;
  font-weight: bold;
  letter-spacing: 15px;
  color: #000;
  padding-bottom: 5px;
}
#fashion .bg-img .info p {
  font-size: 26px;
  font-family: "Poiret One", sans-serif;
  color: #000;
  max-width: 510px;
  padding-top: 60px;
}
#fashion .bg-img .info .bline1,
#fashion .bg-img .info .bline2,
#fashion .bg-img .info .bline3 {
  color: #FFC786;
  height: 3px;
  padding-bottom: 10px;
}
#fashion .bg-img .info .bline1 {
  width: 300px;
}
#fashion .bg-img .info .bline2 {
  width: 230px;
}
#fashion .bg-img .info .bline3 {
  width: 110px;
  padding-bottom: 40px;
}
#fashion #top .top-img {
  width: 100%;
  background-image: url("../img/make up/main.png");
  background-blend-mode: multiply;
  background-color: #443a2e;
  background-size: cover;
  text-align: center;
  color: #fff;
}
#fashion #top .top-img h1 {
  font-size: 80px;
  text-transform: uppercase;
  font-family: "Poiret One", sans-serif;
}